<% if (typeof success !== 'undefined' && success.length) { %>
  <div class="row mt-3">
    <div class="alert alert-success alert-dismissible fade show col-md-6 offset-md-3 col-10 offset-1" role="alert">
      <%= success %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% } %>

<% if (typeof error !== 'undefined' && error.length) { %>
  <div class="row mt-3">
    <div class="alert alert-danger alert-dismissible fade show col-md-6 offset-md-3 col-10 offset-1" role="alert">
      <%= error %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% } %>
